version: '3'

services:
    nginx:
        build:
            context: .
            dockerfile: docker/nginx/Dockerfile
        volumes:
            - ./code/public:/var/www/html/public
        ports:
            - "80:80"
    php_fpm:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        volumes:
            - ./code:/var/www/html
    php_cli:
        build:
            context: .
            dockerfile: docker/php_cli/Dockerfile
        volumes:
            - ./code:/var/www/html